* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.post1 {
  margin-top: 60px;
  margin-bottom: 20px;

}
/* l'image doit etre zoomé de base, puis dezoom et épouse le border */
.illustration img {
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 0 25px black;
  padding: 0;
  height: 25vh;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}
img {
  transform: scale(1);
  transition: transform 2s,opacity 2s;
    overflow: hidden;
    transition: all 2s;

}

img:hover {
  opacity: 1;
  transform: scale(1.1);
  overflow: hidden;
  box-shadow: 0 0 70px black;
  transition: all 2s;
}



.title1 {
  margin-top: 10px;
  margin-bottom: 35px;
}

.title1, .description {
  margin-left: 20px;
  vertical-align: baseline;
}
.sec {
  float: left;
}
.description p {
  word-spacing: 2px;
  letter-spacing: 1px;
  word-wrap: break-word;
}
hr {
   margin-left:-200vh;
    margin-right:-200vh;
}
body {
  overflow-x: hidden;
}
