* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.post1 {
  margin-top: 60px;
  margin-bottom: 20px;

}

.illustration img {
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 0 15px black;
  padding: 0;
  height: 25vh;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}



.title1 {
  margin-top: 10px;
  margin-bottom: 35px;
}

.title1, .description {
  margin-left: 20px;
  vertical-align: baseline;
}
.sec {
  float: left;
}
.description p {
  word-spacing: 10px;
}
hr {
   margin-left:-200vh;
    margin-right:-200vh;
}
body {
  overflow-x: hidden;
}
